.app{
  min-height: 100vh;
  display: flex;
  justify-content: left;
}

.background{
  background: linear-gradient(to right top, #9af7e6, #0cbbd6);
  //background-image: url(./Images/patternleaves.jpg);
  //background-repeat: repeat;
  min-height: 100%;
  //border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.flexbox-row-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flexbox-item{
  border: 1px solid linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7));
  border-radius: 2rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  padding: 20px;
  margin:20px;
  max-width: 97%;
  z-index: 3;
}

.flexbox-item-display{
  border: 1px solid linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7));
  border-radius: 2rem;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  padding: 20px;
  margin:20px;
  max-width: 97%;
  z-index: 3;
  text-align: center;
}
.flexbox-scroller::-webkit-scrollbar {
  display: none;
}

.flexbox-scroller{
  align-items: center;
  max-height: 700px;
  max-width: 80%;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  z-index: 3;
}

/*
.circle1,
.circle2{
  border: 1px solid linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7));
  border-radius: 20rem;
  height: 20rem;
  width: 20rem;
  background: red; //linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
  position: absolute;
  z-index: 1;
}
.circle1{
  top: 30%;
  left: 70%;
}
.circle2{
  top: 70%;
  left: 30%;
}
*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*.float-container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: row;
  overflow: scroll;

  .float-child {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    float: left;
    margin: 5px;
    padding: 20px;
    background: white;
    border: 2px solid black;
    font-size: 13px;
  }
}
*/

nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(13, 196, 252);
  color: white;
  border: 2px solid black;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header {
  text-align: center;
  float: top;
}

table, th, td {
  border: 1px solid black;
}