.app{
  min-height: 100vh;
  display: flex;
  justify-content: left;
}

#light{
  background-color: lightblue;
  border: 2px solid black;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.flexbox-row-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flexbox-item{
  border: 3px solid #333;
  background-color: white;
  padding: 20px;
  margin:20px;
  align-items: flex-start;
  max-width: 97%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.float-container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: row;
  overflow: scroll;

  .float-child {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    float: left;
    margin: 5px;
    padding: 20px;
    background: white;
    border: 2px solid black;
    font-size: 13px;
  }
}

nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(55, 55, 97);
  color: white;
  border: 2px solid black;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header {
  margin-top: 20px;
  float: top;
}

table, th, td {
  border: 1px solid black;
}