.app{
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
}

.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
}

.phoneme{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
}

.float-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.float-child {
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  float: left;
  margin: 20px;
  padding: 20px;
}

.header {
  margin-top: 20px;
  float: top;
}